/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
   box-sizing: border-box;
 }
 
 /* 2. Remove default margin */
 * {
   margin: 0;
 }
 
 body {
   /* 3. Add accessible line-height */
   line-height: 1.5;
   /* 4. Improve text rendering */
   -webkit-font-smoothing: antialiased;
 }
 
 /* 5. Improve media defaults */
 img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
 }
 
 /* 6. Inherit fonts for form controls */
 input, button, textarea, select {
   font: inherit;
 }
 
 /* 7. Avoid text overflows */
 p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
 }
 
 /* 8. Improve line wrapping */
 p {
   text-wrap: pretty;
 }
 h1, h2, h3, h4, h5, h6 {
   text-wrap: balance;
 }
 
 /* 9. Create a root stacking context */
 #root, #__next {
   isolation: isolate;
 }
 
 .dropdown-toggle {
   border-top-left-radius: 8px !important;
   border-bottom-left-radius: 8px !important;
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
 }
 
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }
 
 .tab-content {
   display: flex;
   flex-direction: column;
   height: 100%;
   border: 1px solid #dee2e6;
   border-top: 0;
 }
 
 .tab-pane {
   display: flex;
   flex-direction: column;
 }
 
 .player-form-container {
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto;   /* Center the form */
  }
  
 